@import "tailwindcss";

@theme {
  --color-snow-white: #FAF9F6;
  --color-primary-orange: #F2AE66;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100vh;
  color: #FAF9F6;
  box-sizing: border-box
}

html, body, #root, .App {
  height: 100%;
}